.alert-box
  color #555
  border-radius 10px
  font-family Tahoma,Geneva,Arial,sans-serif
  font-size 11px
  padding 10px 36px
  margin 10px
  span
    font-weight bold
    text-transform uppercase

.alert-box-error
	@extend .alert-box
  background #ffecec 10px 50%
  border 1px solid #f5aca6

.alert-box-success
  @extend .alert-box
  background #e9ffd9 10px 50%
  border 1px solid #a6ca8a

.alert-box-warning
  @extend .alert-box
  background #fff8c4 10px 50%
  border 1px solid #f2c779

.alert-box-notice
  @extend .alert-box
  background #e3f7fc 10px 50%
  border 1px solid #8ed9f6
