cl-primary = #01B3EB
cl-secondary = #58B217
cl-third = #8996A4
cl-quaternary = lightblue
cl-red = #f00
cl-blue = #00f
cl-grey = #aaa
html
body
  width 100%
  height 100%
body
  font-family 'Roboto', sans-serif
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  &:before
    width 100%
    height 100%
    display block
    background rgba(#fff, 0)
    background-image linear-gradient(to top, rgba(#fff, 0), rgba(cl-secondary, .5))
    position absolute
.login-box
  position relative
  top 10%
  left 50%
  width 320px
  margin 0 auto
  margin-left -160px
  background rgba(#fff, .8)
  border-radius 12px
  box-shadow 0 0 20px rgba(#000, .15)
  overflow hidden
  transition .5s all
  &:hover
    transform scale(1.02)
    transition .5s all
    box-shadow 0 20px 80px rgba(#000, .3)
  *
    box-sizing border-box
.login-header
  background cl-primary
  padding 30px
  text-align center
  color #fff
  text-shadow 0 2px 2px rgba(#000,.2)
  box-shadow inset 0 -1px rgba(#fff, .8), 0 4px rgba(#000, .06), inset 0 4px rgba(#fff, .2), inset 0 2px 2px rgba(#fff, .2)
  h1
    font-size 2em
    margin-bottom .5em
.login-icon
  width 50px
  fill #fff
  -webkit-filter drop-shadow(0 2px 2px rgba(#000,.2))
  filter drop-shadow(0 2px 2px rgba(#000,.2))
.login-sign
  text-decoration none
  color cl-secondary + 80
.login-content
  padding 20px
  background-color cl-quaternary
  input, button, a
    width 100%
    display inline-block
.login-mail
.login-pass
  margin-bottom 20px
  padding 10px
  color #999
  border 1px solid transparent
  border-radius 5px
  outline none
  transition .5s all
  &:hover
  &:focus
    transition .5s all
    box-shadow 0 2px rgba(#999, .2)
    border 1px solid rgba(#999, .4)
.login-forgot
  margin-bottom 20px
  text-align right
  text-decoration none
  color cl-third
  font-size .8em
  transition .2s all
  &:hover
    transition .2s all
    color cl-primary - 20    
.login-enter
  padding 14px
  text-transform uppercase
  border-radius 5px
  border none
  background cl-secondary + 30 
  color #fff
  outline none
  cursor pointer
  text-shadow 0 2px 1px rgba(#000,.2)
  transition .5s all
  &:hover
    background cl-secondary + 60
    background-image linear-gradient(to bottom, rgba(#fff,0), cl-secondary + 30)
    transform scale(1.04)
    transition .5s all
  &:active    
    background cl-secondary
    background-image linear-gradient(to top, rgba(#fff,0), cl-secondary - 20)
    transform scale(.98)
    transition .3s all
.in-app-button
  @extends .login-enter
  padding 10px
  margin-left 5px
.accept-button
  @extends .in-app-button
  background cl-blue + 30
  &:hover
    background cl-blue + 60
    background-image linear-gradient(to bottom, rgba(#fff,0), cl-blue + 30)
  &:active    
    background cl-blue
    background-image linear-gradient(to top, rgba(#fff,0), cl-blue - 20)
.cancel-button
  @extends .in-app-button
  background cl-red + 30
  &:hover
    background cl-red + 60
    background-image linear-gradient(to bottom, rgba(#fff,0), cl-red + 30)
  &:active    
    background cl-red
    background-image linear-gradient(to top, rgba(#fff,0), cl-red - 20)
.logout-button
  @extends .in-app-button
  background cl-red + 30
  &:hover
    background cl-red + 60
    background-image linear-gradient(to bottom, rgba(#fff,0), cl-red + 30)
  &:active    
    background cl-red
    background-image linear-gradient(to top, rgba(#fff,0), cl-red - 20)
.button-success
  @extends .in-app-button
  background rgb(28, 184, 65) + 30
  &:hover
    background rgb(28, 184, 65) + 60
    background-image linear-gradient(to bottom, rgba(#fff,0), rgb(28, 184, 65) + 30)
  &:active    
    background cl-blue
    background-image linear-gradient(to top, rgba(#fff,0), rgb(28, 184, 65) - 20)
.button-error
  @extends .in-app-button
  background rgb(202, 60, 60) + 30
  &:hover
    background rgb(202, 60, 60) + 60
    background-image linear-gradient(to bottom, rgba(#fff,0), rgb(202, 60, 60) + 30)
  &:active    
    background cl-blue
    background-image linear-gradient(to top, rgba(#fff,0), rgb(202, 60, 60) - 20)
.button-warning
  @extends .in-app-button
  background rgb(223, 117, 20) + 30
  &:hover
    background rgb(223, 117, 20) + 60
    background-image linear-gradient(to bottom, rgba(#fff,0), rgb(223, 117, 20) + 30)
  &:active    
    background cl-blue
    background-image linear-gradient(to top, rgba(#fff,0), rgb(223, 117, 20) - 20)
.button-secondary
  @extends .in-app-button
  background rgb(66, 184, 221) + 30
  &:hover
    background rgb(66, 184, 221) + 60
    background-image linear-gradient(to bottom, rgba(#fff,0), rgb(66, 184, 221) + 30)
  &:active    
    background cl-blue
    background-image linear-gradient(to top, rgba(#fff,0), rgb(66, 184, 221) - 20)
.navigationBar
  border-radius 10px
  background-color #dde
  padding 10px


.wizard-box
  position relative
  top 15%
  left 50%
  width 960px
  margin 0 auto
  margin-left -480px
  background rgba(#fff, .8)
  border-radius 12px
  box-shadow 0 0 20px rgba(#000, .15)
  overflow hidden
  transition .5s all
  &:hover
    transform scale(1.02)
    transition .5s all
    box-shadow 0 20px 80px rgba(#000, .3)
  *
    box-sizing border-box
.wizard-subbox
  position relative
  top 15%
  left 50%
  width 960px
  margin 0 auto
  margin-left -480px
  background rgba(#fff, .8)
  overflow hidden
.wizard-header
  background cl-primary
  padding 5px
  text-align center
  color #fff
  text-shadow 0 2px 2px rgba(#000,.2)
  box-shadow inset 0 -1px rgba(#fff, .8), 0 4px rgba(#000, .06), inset 0 4px rgba(#fff, .2), inset 0 2px 2px rgba(#fff, .2)
  h1
    font-size 2em
    margin-bottom .5em
.wizard-subheader
  background cl-primary
  padding 1px
  text-align left
  color #fff
  text-shadow 0 2px 2px rgba(#000,.2)
  box-shadow inset 0 -1px rgba(#fff, .8), 0 4px rgba(#000, .06), inset 0 4px rgba(#fff, .2), inset 0 2px 2px rgba(#fff, .2)
  h1
    font-size 2em
    margin-bottom .5em
.wizard-content
  padding 20px
  background-color cl-quaternary
  input, button, a
    width 100%
    display inline-block
.wizard-footbox
  position relative
  top 15%
  left 50%
  width 960px
  margin 0 auto
  margin-left -480px
  background rgba(#fff, .8)
  overflow hidden
.wizard-foot
  padding 20px
  background-color cl-grey
  input, button, a
    width 100%
    display inline-block