.wizard-table
  border-collapse separate
  border-spacing 0
  color #4a4a4d
  font 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif

.wizard-table-body
  .wizard-table-row
    &:nth-child(even)
      background #f0f0f2

.wizard-label-title
  color #395870
  display block

.status-success
  color #007700

.status-error
  color #770000

.wizard
  h1
    margin 1em 0 0.5em 0
    font-weight 600
    font-family 'Titillium Web', sans-serif
    font-size 36px
    line-height 40px
    color #355681
    background #fff
    text-transform uppercase
  h2
    margin 1em 0 0.5em 0
    font-weight 600
    font-family 'Titillium Web', sans-serif
    text-shadow 0 -1px 1px rgba(0,0,0,0.4)
    font-size 28px
    line-height 40px
    color #355681
    text-transform uppercase
    border-bottom 1px solid rgba(53,86,129, 0.3)
  h3
    margin 1em 0 0.5em 0
    font-weight normal
    font-family 'Titillium Web', sans-serif
    text-shadow 0 -1px 1px rgba(0,0,0,0.4)
    font-size 22px
    line-height 40px
    color #355681
  h4, h5
    margin 1em 0 0.5em 0
    font-weight 600
    font-family 'Titillium Web', sans-serif
    line-height 20px
    font-family 'Muli', sans-serif
  h4
    font-size 21px
    color #394349
  h5
    font-size 14px
    color #395870
